{% extends "company/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body>

    <header class="greeting">
            <p>Welcome, {{ request.user.username }} !</p>
    </header>

    <div class="dashboard-cards">

        <a href="{% url 'company_dashboard' %}" class="card">
            <h3>Total Interns</h3>
            <p>{{ total_interns }}</p>
        </a>

        <a href="{% url 'supervisor_applications' %}" class="card">
            <h3>Pending Applications</h3>
            <p>{{ pending_applications }}</p>
        </a>

        <a href="{% url 'company_logbook_review' %}" class="card">
            <h3>Logbooks Approval</h3>
            <p>{{ pending_logbooks }}</p>
        </a>

        <a href="{% url 'interns_attendance' %}" class="card">
            <h3>Attendance</h3>
            <p>{{ attendance_not_marked }}</p>
        </a>

        <a href="{% url 'evaluation_list' %}" class="card">
            <h3>Pending Evaluation</h3>
            <p>{{ pending_evaluation }}</p>
        </a>

    </div>

    <div class="intern-list">
        <h3>Intern List</h3>
        <ul>
            {% for intern in interns %}
                <li><a href="{% url 'company_student_profile' student_id=intern.id %}">{{ intern.user.username }}</a></li>
            {% empty %}
                <li class="empty">No interns assigned</li>
            {% endfor %}
        </ul>
    </div>

</body>

{% endblock %}