{% extends "student/base.html" %}
{% load static %}

{% block content %}

<div class="profile-wrapper">

<h2 class="page-title">Available Internships</h2>

<!-- FILTER FORM -->
<form method="get" class="filter-form">
    <input type="text" name="q" placeholder="Search title or company"
           value="{{ request.GET.q }}">

    <select name="location">
        <option value="">All Locations</option>
        {% for loc in locations %}
            <option value="{{ loc }}" {% if request.GET.location == loc %}selected{% endif %}>
                {{ loc }}
            </option>
        {% endfor %}
    </select>

    <select name="sort">
        <option value="">Sort By</option>
        <option value="latest" {% if request.GET.sort == 'latest' %}selected{% endif %}>
            Latest
        </option>
        <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>
            Oldest
        </option>
    </select>

    <button type="submit">Filter</button>
</form>

<hr>

<!-- INTERNSHIP LIST -->
{% for internship in internships %}
    <div class="internship-card">
        <h3><span style="color: blue;">{{ internship.title }}</span></h3>
        <p><span style="color: black;">Company:</span> {{ internship.company.company_name }}</p>
        <p><span style="color: black;">Location:</span> {{ internship.location }}</p>
        <p><span style="color: black;">Description:</span> {{ internship.description }}</p>
        <p><span style="color: black;">Requirements:</span> {{ internship.requirements }}</p>
        <p><span style="color: black;">Duration:</span> {{ internship.start_date }} - {{ internship.end_date }}</p>
        <p><span style="color: black;">Slots:</span> {{ internship.total_slots }}</p>
        <p>
            <strong>Status:</strong> 
            {% if internship.status == "Open" %}
                <span style="color: green;">Open</span>
            {% else %}
                <span style="color: red;">Closed</span>
            {% endif %}
        </p>

    {% if internship.has_applied %}
        <span class="badge badge-applied">Already Applied</span>
    {% else %}
        <a href="{% url 'apply_internship' internship.id %}" class="btn">
            Apply Now
        </a>
    {% endif %}
    </div>
    
</hr>

{% empty %}
    <p>No internships found.</p>
{% endfor %}

</div>
{% endblock %}


