{% extends "student/base.html" %}
{% block content %}

<div class="profile-wrapper">
<h2>Weekly Logbook</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% else %}
<table border="1">
<tr>
    <th>Week</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for item in weeks_data %}
<tr>
    <td>Week {{ item.week }}</td>

    <td>
        {% if item.logbook %}
            {{ item.logbook.status }}
        {% else %}
            Not Submitted
        {% endif %}
    </td>

    <td>
        {% if item.logbook %}
            {% if item.logbook.status == 'Pending' %}
                <a href="{% url 'edit_logbook' item.logbook.id %}">Edit</a>
            {% else %}
                Submitted
            {% endif %}
        {% else %}
            <a href="{% url 'submit_logbook' item.week %}">Submit</a>
        {% endif %}
    </td>
</tr>
{% endfor %}

</table>
{% endif %}

</div>

{% endblock %}
