{% extends "student/base.html" %}
{% load static %}

{% block content %}

<div class="profile-wrapper">

<h2 class="page-title">Application Status</h2>

<table class="document-table">
    <thead>
        <tr>
            <th>Internship</th>
            <th>Company</th>
            <th>Status</th>
            <th>Your Decision</th>
            <th>Action</th>
        </tr>
    </thead>

<tbody>

{% for app in applications %}
<tr>
    <td>{{ app.internship.title }}</td>
    <td>{{ app.internship.company.company_name }}</td>

    <td class="status-{{ app.status|lower }}">{{ app.status }}</td>
    <td class="status-{{ app.student_decision|lower }}">{{ app.student_decision }}</td>

    <td>
        {% if app.status == "Offered" and app.student_decision == "Pending" %}
        <div class="action-buttons">
          <form method="post" action="{% url 'accept_offer' app.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Accept</button>
          </form>

          <form method="post" action="{% url 'reject_offer' app.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Reject</button>
          </form>
        </div>
        {% else %}
            —
        {% endif %}

    </td>
</tr>
{% endfor %}
</tbody>

</table>
</div>

{% endblock %}